@import "../node_modules/normalize.css/normalize.css";
body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}
html,body{width: 100%;height: 100%;}
body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}
p a{margin: 0 20px;}
a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
.row{
  flex-direction:row;
  align-items:center;
  justify-content:center;
}
.column{
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.section {
  height:100%;overflow: hidden;width: 100%;
}
.links{display: flex;flex-direction: row;align-items: center;justify-content:center;}
.links a{margin: 0 20px;}
.iphone-demo {
  flex-grow: 1;
  flex-basis: 0;align-self: stretch;
}

.feature-description {
  flex-grow: 1;
  flex-basis: 0;align-self: stretch;padding: 0 20px;
}
.iphone-demo .big{height: 630px;width: 300px;}
#android-robot{position: absolute;right: -60px;bottom: -80px;transform:rotate(-45deg);}
.init{position: absolute;left: 50%;top:50%;transform:translate(-50%,-50%);width: 255px;height: auto;}
#slider-control {
  padding: 3px;position: fixed;right: 10px;top:50%;transform:translate(0,-50%);
}

#slider-control a {
  padding: 3px;
}

#slider-control .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

#slider-control .active .dot {
  background-color: #fff;
}
#intro-section{background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;}
.overlay:before{
  position: absolute;content: "";z-index: 2;left: 0;right: 0;bottom: 0;height: 200px;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
}
